.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 1.25rem;
  margin-top: 1.125rem;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 0.75rem;
  padding: 0.625rem;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 1.375rem !important;
  background-color: #cd9042;
}

.header__optionLineOne {
  font-size: 0.625rem;
}

.header__optionLineTwo {
  font-size: 0.8125rem;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin: 0px 10px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  color: white;
}
